@import '../../theme/variables.scss';
@import '../../theme/mixins.scss';

.add-device-page {
  .page-content {
    background-color: $white-background;
  }
  &__content {
    padding: 16px;
    padding-top: 0px;
    max-width: 650px;
    margin: auto;
    margin-bottom: 32px;
  }
  &__form {
    margin: 0;
  }
  &__title {
    font-size: 28px;
    color: $grey-one;
    text-align: left;
    margin: auto;
    font-weight: 600;
  }
  &__tip {
    padding: 8px;
    display: flex;
    align-items: center;
    &__picture {
      display: inline-block;
      width: 20%;
      max-width: 70px;
    }
    &__label {
      display: inline-block;
      width: 80%;
      font-size: 12px;
      padding-top: 0px;
      padding-left: 16px;
      opacity: 0.5;
    }
  }
  .button-primary.button-fill {
    margin-top: 16px;
    z-index: 55;
  }
  &__footer {
    position: fixed;
    bottom: 0px;
    padding: 16px;
    width: 100%;
  }
}
