.button-primary.button-fill {
  max-width: 100%;
  margin: auto;
  text-transform: none;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 16px;
  font-weight: bold;
  font-size: 16px;
  height: auto;
  background: linear-gradient(220deg, #1052f3 -53.49%, #15dcf4 132.56%);
  white-space: pre-wrap;
}
