@import '../../../theme/variables.scss';
@import '../../../theme/mixins.scss';

.user-info-page {
  .page-content {
    background-color: $white-background;
  }
  &__content {
    padding: 16px;
    max-width: 650px;
    margin: auto;
  }
  &__intro {
    font-size: 28px;
    color: $grey-one;
    text-align: left;
    margin: auto;
    font-weight: 600;
    margin-bottom: 32px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .col-25 {
    .item-content.item-input {
      padding-left: 0px;
    }
  }
  .button-primary.button-fill {
    margin-top: 16px;
  }
}
