@import '../../theme/variables.scss';
@import '../../theme/mixins.scss';

.automobile-info-page {
  .page-content {
    background-color: $white-background;
  }
  &__content {
    max-width: 650px;
    margin: auto;
    padding: 16px;
    padding-top: 0px;
    margin-bottom: 64px;
  }
  &__content--loading {
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-top: 100px;
  }
  &__intro {
    font-size: 28px;
    color: $grey-one;
    text-align: left;
    margin: auto;
    font-weight: 600;
  }
  &__form {
    &.list {
      margin-top: 0px;
    }
    li {
      margin-top: 0px;
      height: 64px;
    }
  }
  .col-25 {
    .item-content.item-input {
      padding-left: 0px;
    }
  }
  &__footer {
    position: fixed;
    bottom: 0px;
    padding: 16px;
    width: 100%;
    z-index: 555;
  }
}
