@import '../../theme/variables.scss';
@import '../../theme/mixins.scss';

.new-password-page {
    background-color: #f0f2f9 !important;
    &__content {
        padding: 16px;

        &__title {
            font-size: 28px;
            line-height: 35px;
        }
    }
}
