@import '../../theme/variables.scss';
@import '../../theme/mixins.scss';

.app-radio {
    margin: 16px 0;

    &__toggle {
        display: none;
    }

    &__outline {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        border: 2px solid #d0d7e1;
        border-radius: 8px;

        padding: 24px 32px;

        cursor: pointer;
    }

    &__btn {
        position: relative;
        display: inline-block;
        width: 24px;
        height: 24px;
        border: 1px solid #d0d7e1;
        border-radius: 32px;
        margin: 0 32px 0 0;

        &::after {
            display: none;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__title {
            margin: 0;
            font-size: 18px;
            line-height: 23px;
            font-weight: 700;
            color: $grey-one;
        }

        &__price {
            margin: 0;
            font-size: 28px;
            line-height: 35px;
            color: $grey-one;
        }
    }

    &__toggle:checked + &__outline {
        border: 2px solid $primary;

        .app-radio__btn {
            border: 1px solid $primary;
        }

        .app-radio__btn::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: inline-block;
            background-color: $primary;
            width: 16px;
            height: 16px;
            border-radius: 32px;
        }

        .app-radio__content__price {
            color: $primary;
        }
    }
}
