@import '../../../theme/variables.scss';
@import '../../../theme/mixins.scss';

.not-found-page {
  .page-content {
    background-color: white;
  }
  &__content {
    padding: 16px;
    padding-top: 72px;
    max-width: 600px;
    margin: auto;
  }
  &__intro {
    color: $grey-one;
    margin-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    &__title {
      font-size: 28px;
      margin: auto;
      font-weight: 600;
    }
    &__content {
      font-family: Source Sans Pro;
      font-size: 18px;
      opacity: 0.7;
    }
  }
  &__illustration {
    display: block;
    margin: 32px auto;
  }
  .button-primary.button-fill {
    margin-top: 120px;
  }
}
