@import '../../theme/variables.scss';
@import '../../theme/mixins.scss';

.utilization-page {
  .page-content {
    padding-top: 16px;
    padding: 16px;
    background-color: $white-background;
  }
  .app-navbar {
    width: 100%;
    &__title {
      color: $primary;
    }
    div:first-of-type {
      width: 25%;
    }
    div:last-child {
      width: 10%;
      img {
        vertical-align: text-bottom;
      }
    }
  }
  &__list {
    padding: 16px;
  }
  &__item {
    width: 100%;
    padding: 16px 0 8px 0;
    border-bottom: 2px solid transparentize($grey-one, 0.95);
    &__left {
      display: inline-block;
      width: 75%;
    }
    &__right {
      display: inline-block;
      text-align: right;
      vertical-align: top;
      width: 25%;
    }
    &__title {
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: $primary;
    }
    &__description {
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #3d4045;
      opacity: 0.5;
    }
    &__time {
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #3d4045;
      opacity: 0.5;
    }
  }
  &__months {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 64px;
    padding: 8px 0;
  }
  &__month {
    font-size: 17px;
    padding: 16px 8px;
    color: #3d4045;
    opacity: 0.5;
    &.selected {
      color: $primary;
      opacity: 1;
    }
  }
}
