@import '../../theme/variables.scss';
@import '../../theme/mixins.scss';

.waiting-for-device-page {
  .page-content {
    background-color: $white-background;
  }
  &__content {
    padding: 16px;
    max-width: 650px;
    margin: auto;
  }

  &__intro {
    &__title {
      font-size: 28px;
      color: $grey-one;
      text-align: left;
      margin: auto;
      font-weight: 600;
    }
    &__content {
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: normal;
      color: $grey-one;
      margin-top: 8px;
      /* Grey 1 */
      opacity: 0.7;
    }
  }

  &__form {
    &__illustration {
      display: block;
      margin: auto;
      svg {
        height: 120px !important;
      }
    }
  }

  &__action {
    text-align: center;
    display: block;
    &__title {
      font-weight: bold;
      font-size: 16px;
    }
    &__tip {
      font-size: 14px;
      opacity: 0.6;
      margin-top: 8px;
    }
    .button-primary.button-fill {
      margin-top: 32px;
    }
  }
  &__footer {
    position: fixed;
    bottom: 0px;
    padding: 16px;
    width: 100%;
  }
}
