@import '../../theme/variables.scss';

.app-card {
    display: inline-block;
    width: 140px;
    height: 120px;
    padding: 16px;

    background-color: $primary;
    border-radius: 8px;
    box-shadow: 0px 8px 24px rgba(38, 61, 194, 0.25);

    &--full {
        width: 100%;
    }
}
