@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/gilroy/gilroy-webfont.woff2') format('woff2'), url('../assets/fonts/gilroy/gilroy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Light';
    src: url('../assets/fonts/gilroy/gilroy-light-webfont.woff2') format('woff2'), url('../assets/fonts/gilroy/gilroy-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../assets/fonts/gilroy/gilroy-extrabold-webfont.woff2') format('woff2'), url('../assets/fonts/gilroy/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'line-awesome';
    src: url('../assets/fonts/line-awesome/line-awesome.eot');
    src: url('../assets/fonts/line-awesome/line-awesome.eot#iefix') format('embedded-opentype'), url('../assets/fonts/line-awesome/line-awesome.ttf') format('truetype'), url('../assets/fonts/line-awesome/line-awesome.woff') format('woff'), url('../assets/fonts/line-awesome/line-awesome.svg#line-awesome') format('svg');
    font-weight: normal;
    font-style: normal;
}
