@import '../../theme/variables.scss';
@import '../../theme/mixins.scss';

.risk-profile-page {
    .page-content {
        padding-top: 16px;
        padding: 16px;
        background-color: $white-background;
      }
}
