@import '../../theme/variables.scss';
@import '../../theme/mixins.scss';

.forgot-password-page {
    background-color: #f0f2f9 !important;

    &__content {
        padding: 16px;
        max-width: 650px;
        margin: 0 auto;

        &__title {
            font-size: 28px;
            line-height: 35px;
            margin: 0 0 8px 0;
        }

        &__body-text {
            font-size: 18px;
            line-height: 23px;
            font-weight: 400;
            opacity: .7;
        }
    }
}
