@import '../../../../theme/variables.scss';
@import '../../../../theme/mixins.scss';

.home-page {
  .app-navbar {
    width: 100%;
    div:first-of-type {
      width: 40%;
    }
    div:last-child {
      width: 10%;
      img {
        vertical-align: text-bottom;
      }
    }
  }
  &__indicators-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 16px;
  }

  &__cards-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .page-content {
    background-color: $white-background;
    padding-top: 16px;
  }
  &__content {
    padding: 16px;
    max-width: 600px;
    margin: auto;
    padding-top: 0px;
  }

  .button-primary.button-fill {
    margin-top: 16px;
  }
}
