@import '../../../../theme/variables.scss';
@import '../../../../theme/mixins.scss';

.ride-destination-page {
  .page-content {
    background-color: white;
  }
  &__illustration {
    display: block;
    height: 30vh;
    min-height: 80px;
    max-height: 150px;
    margin: auto;
    margin-bottom: 24px;
  }
  .col-25 {
    .item-content.item-input {
      padding-left: 0px;
    }
  }
  .button-primary.button-fill {
    margin-top: 16px;
  }
  &__logo {
    display: block;
    margin: auto;
  }
  &__content {
    padding: 16px;
    max-width: 650px;
    margin: auto;
    margin-top: -24px;
  }
  &__intro {
    color: $grey-one;
    margin-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
    &__title {
      font-size: 28px;
      text-align: left;
      margin: auto;
      font-weight: 600;
    }
    &__content {
      font-family: Source Sans Pro;
      font-size: 18px;
      opacity: 0.7;
    }
  }
  &__form {
    &.list {
      margin-top: 0px;
    }
    &__title {
      font-family: Source Sans Pro;
      font-size: 16px;
      line-height: normal;
      color: $primary;
      margin-bottom: 24px;
      padding-left: 18px;
    }
  }
  &__item {
    a.button-primary.button-fill {
      margin-top: 24px;
      padding: 1px;
      padding-bottom: 3px;
      padding-left: 3px;
    }
  }
}
